@{
    ViewData["Title"] = "Home Page";
    var students = ViewData["Students"] as List<Student>;
}

<div>
    <table class="table w-50 m-auto">
        <thead>
            <tr>
                <th class="text-center" colspan="2">Я</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-secondary">
                <th>Фамилия</th>
                <td>Ланкин</td>
            </tr>
            <tr>
                <th>Имя</th>
                <td>Илья</td>
            </tr>
            <tr class="table-secondary">
                <th>Специальность</th>
                <td>Инженерия программного обеспечения</td>
            </tr>
            <tr>
                <th>Курс</th>
                <td>3</td>
            </tr>
        </tbody>
    </table>
</div>

@if (students != null)
{
    <div class="mt-5">
        <table class="table w-75 m-auto">
            <thead>
                <tr>
                    <th class="text-center" colspan="8">Студенты</th>
                </tr>
                <tr>
                    <th class="text-center">Фамилия</th>
                    <th class="text-center">Имя</th>
                    <th class="text-center">Специальность</th>
                    <th class="text-center">Факультет</th>
                    <th class="text-center">Номер группы</th>
                    <th class="text-center">Курс</th>
                    <th class="text-center">Год поступления</th>
                    <th class="text-center">День рождения</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < students.Count; i++)
                {
                    string tableSecondaryClass = string.Empty;

                    if (i % 2 == 0)
                    {
                        tableSecondaryClass = "class=table-secondary";
                    }

                    <tr @tableSecondaryClass>
                        <td>@students[i].Lastname</td>
                        <td>@students[i].Firstname</td>
                        <td>@students[i].SpecializationNavigation.Name</td>
                        <td>@students[i].GroupNavigation.InstituteNavigation.InstituteName</td>
                        <td>@students[i].GroupNavigation.GroupNumber</td>
                        <td>@students[i].Year</td>
                        <td>@students[i].AdmissionYear</td>
                        <td>@students[i].Birthdate.ToString("dd.MM.yyyy")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}